<div class="container">

  <div class="row">
    <div *ngIf="alunoSelected.id != 0" class="col-sm-6">

      <div class="row">
        <div class="mr-auto">
          <app-titulo [titulo]="'Cód. Aluno: ' + alunoSelected.id"></app-titulo>
        </div>
        <div class="mt-1">
          <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Voltar</button>
        </div>
      </div>
      
      <form>
        <div class="form-group">
          <label>Nome</label>
          <input type="text" value="{{alunoSelected.nome}}" class="form-control">
        </div>
        <div class="form-group">
          <label >Sobrenome</label>
          <input type="text" value="{{alunoSelected.sobrenome}}" class="form-control">
        </div>
        <div class="form-group">
          <label >Telefone</label>
          <input type="text" value="{{alunoSelected.telefone}}" class="form-control">
        </div>
      </form>

    </div>

    <div [ngClass]="{'col-sm-6': alunoSelected.id != 0, 'col-sm-12': alunoSelected.id == 0}">
      <app-titulo [titulo]="tituloAluno"></app-titulo>
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos" style="cursor: pointer" (click)="alunoSelect(aluno)">
            <th scope="row">{{aluno.id}}</th>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.sobrenome}}</td>
            <td>{{aluno.telefone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>